In [1]:
# Dependencies
import numpy as np
import datetime as dt
import numpy as np
import pandas as pd

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from sqlalchemy import extract

In [2]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()

# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [3]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [8]:
july_1_2011 = dt.date(2011, 7, 1)
july_1_2012 = dt.date(2012, 7, 1)
july_1_2013 = dt.date(2013, 7, 1)
july_1_2014 = dt.date(2014, 7, 1)
july_1_2015 = dt.date(2015, 7, 1)
july_1_2016 = dt.date(2016, 7, 1)
july_1_2017 = dt.date(2017, 7, 1)

june_1_2010 = dt.date(2010, 6, 1)
june_1_2011 = dt.date(2011, 6, 1)
june_1_2012 = dt.date(2012, 6, 1)
june_1_2012 = dt.date(2012, 6, 1)
june_1_2013 = dt.date(2013, 6, 1)
june_1_2014 = dt.date(2014, 6, 1)
june_1_2015 = dt.date(2015, 6, 1)
june_1_2016 = dt.date(2016, 6, 1)
june_1_2017 = dt.date(2017, 6, 1)

results = []
results = session.query(Measurement.date, Measurement.tobs).\
filter((Measurement.date >= june_1_2010) & (Measurement.date < july_1_2010)|
       (Measurement.date >= june_1_2011) & (Measurement.date < july_1_2011)|
       (Measurement.date >= june_1_2012) & (Measurement.date < july_1_2012)|
       (Measurement.date >= june_1_2013) & (Measurement.date < july_1_2013)|
       (Measurement.date >= june_1_2014) & (Measurement.date < july_1_2014)|
       (Measurement.date >= june_1_2015) & (Measurement.date < july_1_2015)|
       (Measurement.date >= june_1_2016 ) & (Measurement.date < july_1_2016)|
       (Measurement.date >= june_1_2017 ) & (Measurement.date < july_1_2017)).all()

In [9]:
june_temps = list(results)

In [10]:
june_temps_df = pd.DataFrame(results, columns=['date', 'June Temps'])
june_temps_df = june_temps_df.set_index(june_temps_df['date'], inplace = False)

In [13]:
june_temps_df.describe()

        June Temps
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

## D2: Determine the Summary Statistics for December

In [14]:
dec_1_2010 = dt.date(2010, 12, 1)
dec_1_2011 = dt.date(2011, 12, 1)
dec_1_2012 = dt.date(2012, 12, 1)
dec_1_2013 = dt.date(2013, 12, 1)
dec_1_2014 = dt.date(2014, 12, 1)
dec_1_2015 = dt.date(2015, 12, 1)
dec_1_2016 = dt.date(2016, 12, 1)
dec_1_2017 = dt.date(2017, 12, 1)

jan_1_2011 = dt.date(2011, 1, 1)
jan_1_2012 = dt.date(2012, 1, 1)
jan_1_2013 = dt.date(2013, 1, 1)
jan_1_2014 = dt.date(2014, 1, 1)
jan_1_2015 = dt.date(2015, 1, 1)
jan_1_2016 = dt.date(2016, 1, 1)
jan_1_2017 = dt.date(2017, 1, 1)

results = []
results = session.query(Measurement.date, Measurement.tobs).\
filter((Measurement.date >= dec_1_2010 ) & (Measurement.date < jan_1_2011)|
       (Measurement.date >= dec_1_2011) & (Measurement.date < jan_1_2012)|
       (Measurement.date >= dec_1_2012) & (Measurement.date < jan_1_2013)|
       (Measurement.date >= dec_1_2013) & (Measurement.date < jan_1_2014)|
       (Measurement.date >= dec_1_2014) & (Measurement.date < jan_1_2015)|
       (Measurement.date >= dec_1_2015) & (Measurement.date < jan_1_2016)|
       (Measurement.date >= dec_1_2016) & (Measurement.date < jan_1_2017)|
       (Measurement.date >= dec_1_2017 )).all()

In [15]:
dec_temps = list(results)

In [16]:
dec_temps_df = pd.DataFrame(results, columns=['date', 'December Temps'])
dec_temps_df = dec_temps_df.set_index(dec_temps_df['date'], inplace = False)

In [18]:
dec_temps_df.describe()

       December Temps
count     1517.000000
mean        71.041529
std          3.745920
min         56.000000
25%         69.000000
50%         71.000000
75%         74.000000
max         83.000000